i {
  color: #709085;
}

form {
  width: 23rem;
}

form h3 {
  letter-spacing: 1px;
}

img {
  object-fit: cover;
  object-position: left;
}

.auth {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: #f0fff4dc;
}

.authpage {
  background-color: #657263;
}