.community-table {
    margin-top: 60px;
    border-top: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.community-table td {
    text-align: center;
    height: 90px;
}

.community-table tr {
    border-bottom: 1px solid #181918;
}

.community-table th {
    height: 40%;
    text-align: center;
}

.join-btn {
    width: 70%;
}

.communities-heads {
    text-align: center;
    margin-top: 20px;
}

/* .get-communities {
    height: 150px;
} */

.my-communities {
    list-style-type: none;
    /* display: block; */
    background-color: #d6d6d6;
    border-radius: 1em;
    padding: 20px;
}

.my-communities li {
    display: inline-block;
    padding: 10px;
}