{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">

{% block styles %}

{% endblock styles %}
<body>
    {% block navbar %}
    <nav id="nav-bar">
        <div id="nav-fix">
            <a id="nav-brand" href="/">
                TreesForGrowth
            </a>
            <div class="middle-nav">
                <a href="/" class="nav-item">home</a>
                <a href="/userdashboard/" class="nav-item">dashboard</a>
                <a href="/communities/" class="nav-item">communities</a>
                <a href="#" class="nav-item">about us</a>
                <a href="#" class="nav-item">buy</a>
                <!-- TODO add auth check for this tag -->
                <!-- <a href="profile/" class="nav-item">
                    <img src="{% static 'images/user.png' %}" alt="my profile" style="height: 30px; width:30px; vertical-align:sub;"/>
                </a> -->
                <a href="#" id="nav-login">Sign in</a>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
    
    {% endblock content %}

</body>

</html>