{% extends 'base.html' %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">

{% endblock styles %}

{% block content %}
    <header class='home-page'>
        <div class='wrapper'>
          <div class='welcome-text'>
            <h1>TREE PLANTING MEETS <span>TECHNOLOGY</span></h1>
            <br/>
            <br/>
            <h2 class='welcome-text2'>HELP SAVE OUR PLANET</h2>
            <br/>
            <a href="#" class='welcome-link'>MAKE AN IMPACT</a>
          </div>
        </div>
    </header>
    
{% endblock content %}