{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static './index.css' %}">

<body>
    <nav id="nav-bar">
        <div id="nav-fix">
            <a id="nav-brand" href="#">
                TreesForGrowth
            </a>
            <div class="middle-nav">
                <a href="./index.html" class="nav-item">home</a>
                <a href="./communities.html" class="nav-item">dashboard</a>
                <a href="#" class="nav-item">buy</a>
                <a href="#" class="nav-item">about us</a>
                <a href="#" class="nav-item">communities</a>
                <a href="#" id="nav-login">Sign in</a>
            </div>
        </div>

        <!-- <ul class="middle-nav">
            <li><a href="#">home</a></li>
            <li><a href="#">dashboard</a></li>
            <li><a href="#">buy</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="#">communities</a></li>
        </ul>
        <a href="#" id="nav-login">Sign in</a> -->
    </nav>
    {% block content %}
    {% endblock content %}
</body>

</html>