{% extends 'base.html' %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js">

</script>
<div>
    <h2>Login</h2>
    <form id="form-login" method="POST">
        <input type="text" class="form-input" placeholder="username" name="username" />
        <input type="password" class="form-input" placeholder="password" name="password" />
        <input type="submit" value="login" class="form-submit" onclick="onLoginClick()"/>
    </form>
</div>
<script>
    // let form = document.getElementById('form-login'); // selecting the form

    // form.addEventListener('submit', function (event) { // 1
    //     event.preventDefault()

    //     let data = new FormData(); // 2

    //     data.append("username", document.getElementsByClassName('username').value)
    //     data.append("password", document.getElementsByClassName('password').value)
    //     data.append("csrfmiddlewaretoken", '{{csrf_token}}')

    //     axios.post('/accounts/token/login', data) // 4
    //         .then(alert("Form Submitted")) // 5
    //         .catch(errors => console.log(errors)) // 6

    // })

    function onLoginClick() {
        const userData = {
            username: document.getElementsByClassName('username').value,
            password: document.getElementsByClassName('password').value
        };
        // let userData = new FormData();
        // userData.append("username", document.getElementsByClassName('username').value);
        // userData.append("password", document.getElementsByClassName('password').value);
        login(userData, "/userdashboard/");
    };

    const login = (userData, redirectTo) => dispatch => {
    // function login(userData, redirectTo) {
        axios
            .post("/accounts/token/login/", userData)
            .then(response => {
                alert("Form Submitted")
                const { auth_token } = response.data;
                setAxiosAuthToken(auth_token);
                dispatch(setToken(auth_token));
                dispatch(getCurrentUser(redirectTo));
            })
            .catch(error => {
                console.log(error)
                // dispatch(unsetCurrentUser());
                // toastOnError(error);
            });
    };

    const setAxiosAuthToken = token => {
        if (typeof token != "undefined" && token) {
            // to apply to every request
            axios.defaults.headers.common["Authorization"] = "Token " + token;
        } else {
            // delete the auth header
            delete axios.defaults.headers.common["Authorization"];
        }
    };

    const getCurrentUser = redirectTo => dispatch => {
        axios
            .get("/api/v1/users/me/")
            .then(response => {
                const user = {
                    username: response.data.username,
                    email: response.data.email
                };
                dispatch(setCurrentUser(user, redirectTo));
            })
            .catch(error => {
                dispatch(unsetCurrentUser());
                // toastOnError(error);
                console.log(error)
            });
    };

    const setCurrentUser = (user, redirectTo) => dispatch => {
        localStorage.setItem("user", JSON.stringify(user));
        dispatch({
            type: "SET_CURRENT_USER",
            payload: user
        });

        console.log("set user" + redirectTo);
        if (redirectTo !== "") {
            dispatch(push(redirectTo));
        }
    };

    const setToken = token => dispatch => {
        setAxiosAuthToken(token);
        localStorage.setItem("token", token);
        dispatch({
            type: "SET_TOKEN",
            payload: token
        });
    };

    const unsetCurrentUser = () => dispatch => {
        setAxiosAuthToken("");
        localStorage.removeItem("token");
        localStorage.removeItem("user");
        dispatch({
            type: "UNSET_CURRENT_USER"
        });
    };

    const logout = () => dispatch => {
        axios
            .post("/api/v1/token/logout/")
            .then(response => {
                dispatch(unsetCurrentUser());
                dispatch(push("/"));
                // toast.success("Logout successful.");
                alert("Logout successful")

            })
            .catch(error => {
                dispatch(unsetCurrentUser());
                console.log(error)
            });
    };

    // export const toastOnError = error => {
    //     if (error.response) {
    //         // known error
    //         toast.error(JSON.stringify(error.response.data));
    //     } else if (error.message) {
    //         toast.error(JSON.stringify(error.message));
    //     } else {
    //         toast.error(JSON.stringify(error));
    //     }
    // };

</script>
{% endblock %}