{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock styles %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js">
        
</script>

<div id="user-profile">
    <h1>My Profile</h1>
            <div class="user-details">
                <h2>Personal Details</h2>
                <p class="detail">username:  <span id="uname"></span></p>
                <p class="detail">email:  <span id="email"></span></p>
                <p class="detail">firstname: <span id="fname"></span></p>
                <p class="detail">lastname: <span id="lname"></span></p>
                <p class="detail">phone number: <span id="pnumber"></span></p>
            </div>
            <div class="user-details">
                <h2>Location information</h2>
                <p class="detail">County: <span id="county"></span></p>
                <p class="detail">Town: <span id="town"></span></p>
                <p class="detail">Address: <span id="address"></span></p>
            </div>
</div>
<script>
    axios.get('/api/users/')
    .then(function (response) {
        response.data.forEach(e => {
            usern = e.username
            fname = e.first_name
            lname = e.last_name
            pnumber = e.phonenumber
            email = e.email
            var ids = ["uname", "fname", "lname", "pnumber", "email"]
            function set_values(id,value) {
                doc = document.getElementById(id).innerHTML=(value)
            }
            set_values(ids[0],usern)
            set_values(ids[1],fname)
            set_values(ids[2],lname)
            set_values(ids[3],pnumber)
            set_values(ids[4],email)
        });
    })
    .catch(function (error) {
        console.log(error);
    })

    axios.get('/api/address/')
    .then(function (response) {
        response.data.forEach(e => {
            console.log(e)
            county = e.county
            town = e.town
            addr = e.full_address
            var ids = ["county", "town", "address"]
            function set_values(id,value) {
                doc = document.getElementById(id).innerHTML=(value)
            }
            set_values(ids[0],county)
            set_values(ids[1],town)
            set_values(ids[2],addr)
        })
    }
    )

</script>

{% endblock %}