* {
    font-family: 'Lato', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.all-items {
    min-height: 80vh;
}

body {
    padding-top: 80px;
    background: url(../images/asset3.svg);
}

#nav-bar {
    z-index: 5;
    text-transform: capitalize;
}

.nav-item:hover {
    text-decoration: underline;
}

#nav-fix {
    width: 90%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.navbar .mid-nav {
    margin: auto;
}

#nav-brand {
    font-size: 26px;
}

#nav-right-side {
    text-align: center;
    margin-right: 3em;
}

#drop-menu3 {
    background-color: #e3dfdf;
}

#drop-menu3 li {
    text-align: center;
}

#nav-login {
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: #308148;
}

#nav-login:hover {
    background-color: #3da55c;
}

.my-messages {
    margin-right: 20px;
}

.my-messages .notifications {
    min-width: 350px;
}

.my-messages .notifications-wrapper {
    overflow: auto;
    max-height: 250px;
}

.my-messages .menu-title {
    color: #ff7788;
    /* font-size: 1.5rem; */
    /* display: inline-block; */
}

.my-messages .glyphicon-circle-arrow-right {
    margin-left: 10px;
}


.my-messages .notification-heading,
.my-messages .notification-footer {
    /* padding: 2px 10px; */
    padding-left: 10px;
    background-color: #308148;
    /* padding-bottom: 2px; */
}


/* .my-messages .dropdown-menu .divider {
    margin: 5px 0;
} */

.my-messages .item-title {

    font-size: 1.3rem;
    color: #000;

}

.notifications .content {
    text-decoration: none;
    background: #ccc;
}

.notification-item {
    padding: 10px;
    margin: 5px;
    background: #ccc;
    border-radius: 4px;
}

.my-messages .badge {
    position: absolute;
    /* top: 2px;
    right: 2px; */
    padding: 2px;
    border-radius: 10%;
    background-color: red;
    color: white;
}

/* .my-messages .nav-msgs {
    background-color: #555;
    width: 100px;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
} */