* {
    font-family: 'Lato', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

body {
    padding-top: 77px;
    background: url(../images/asset3.svg);
    background-repeat: no-repeat;
}

#nav-bar {
    z-index: 5;
}

.nav-item:hover {
    text-decoration: underline;
}

#nav-fix {
    width: 90%;
    padding-top: 8px;
    padding-bottom: 8px;
}

#nav-brand {
    font-size: 26px;
}

#nav-right-side {
    text-align: center;
    margin-right: 3em;
}

#drop-menu3 {
    background-color: #e3dfdf;
}

#drop-menu3 li {
    text-align: center;
}

#nav-login {
    border-radius: 4px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: #3da55c;
}

#nav-login:hover {
    color: #000000;
    background-color: #308148;
}