* {
    font-family: 'Lato','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

body {
    padding-top: 77px;
}

#nav-bar {
    z-index: 5;
}

.nav-item:hover {
    text-decoration: underline;
}

#nav-fix {
    width: 90%;
    padding-top: 8px;
    padding-bottom: 8px;
}

#nav-brand {
    font-size: 26px;
}

#nav-right-side {
    text-align: center;
    margin-right: 3em;
}

#drop-menu3 {
    background-color: #e3dfdf;
}

#drop-menu3 li {
    text-align: center;
}

#nav-login {
    border-radius: 4px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: #3da55c;
}

#nav-login:hover {
    color: #000000;
    background-color: #308148;
}

label {
    display: block;
    margin-top: 10px;
}

.auth-page {
    background: linear-gradient(#48f97dab, #000000d2), url(../images/vecteezy_avatar-premium-icon-sign-symbol_6732102.jpg);
    height: 80vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

.login-form,
.signup-form {
    max-width: 350px;
    margin: auto;
}

.form-control {
    margin-top: 10px;
}

.auth-group {
    height: 230px;
}

.auth-btn {
    width: 100%;
    /* margin-top: 10px; */
    background-color: #3da55c;
    color: #ffffff;
    border: none;
    border-radius: 0.2em;
    height: 2em;
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}