.all-profile .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.all-profile .me-2 {
    margin-right: .5rem !important;
}

.all-profile .progress {
    height: 5px;
}

.all-profile .progress-bar {
    width: 80%;
}

.all-profile .progress-bar2 {
    width: 72%;
}

.all-profile .progress-bar3 {
    width: 89%;
}

.all-profile .progress-bar4 {
    width: 55%;
}

.all-profile .progress-bar5 {
    width: 66%;
}

.all-profile .mb-3 div{
    margin-top: auto;
    margin-bottom: auto;
}
