* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

#nav-bar {
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    border-top: #308148 solid 2px;
    border-bottom: #3da55c solid 1px;
    z-index: 5;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    /* height: 60px; */
}

#nav-fix {
    width: 80%;
}

#nav-brand {
    color: #000000;
    font-size: 26px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px 5px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    /* display: inline-block; */
}

.middle-nav {
    /* display: inline-block; */
    float: right;
}

.middle-nav a {
    display: inline-block;
}

#nav-login,
.middle-nav a {
    text-transform: capitalize;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding: 12px 12px;
    /* display: inline-block; */
}

.middle-nav a:hover {
    text-decoration: underline;
}

#nav-login {
    border-radius: 4px;
    background-color: #389855;
    /* margin-right: 50px; */
    color: #000000;
    text-decoration: none;
    float: right;
}

#nav-login:hover {
    color: #000000;
    text-decoration: underline;
    background-color: #308148;
}