#user-profile {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #d7f3da;
}
.user-details {
    padding-left: 5%;
    padding-right: 5%;
}
.detail {
    color: red;
}