.my-info, .more-info {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #c7eacc;
    border-radius: 0.5em;
    margin-top: 20px;
    padding: 30px;
}

.my-info h2, .more-info h2 {
    text-align: center;
}

.more-info {
    margin-bottom: 20px;
}